.scroll {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: -50px; /* hide scrollbar, needs overflow-x: hidden on parent */
    padding-right: 50px; /* hide scrollbar, needs overflow-x: hidden on parent */
    overflow-y: scroll;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #1abc9c;
    height: 600px;
}